<div class="nav-panel">
  <a (click)="unChoose()"><span class="back-btn fa fa-angle-left"></span>Назад</a>
</div>
<figure>
  <img [src]="product.getImageSrc()" alt="">
</figure>
<div class="product-info">
  <h3>{{ product.getTitle() }}</h3>
  <div class="product-description">
    <p>{{ product.getDescription() }}</p>
  </div>
  <ul class="product-options" *ngIf="product.options$ | async as options">
    <li *ngFor="let option of options">
      <strong>{{ option.title }}:</strong>
      <a (click)="openOptions()">{{ option.values[option.value].title }}</a>
    </li>
  </ul>
  <div class="option-overlay" [class.active]="isOptionsOpen">
    <div class="option-wrapper">
      <h3>Маринад</h3>
      <div class="values-wrapper">
        <ul>
          <li class="active"><a>Чесночный</a></li>
          <li><a>Чесночный</a></li>
          <li><a>Чесночный</a></li>
          <li><a>Чесночный</a></li>
          <li><a>Чесночный</a></li>
          <li><a>Чесночный</a></li>
          <li><a>Чесночный</a></li>
          <li><a>Чесночный</a></li>
          <li><a>Чесночный</a></li>
          <li><a>Чесночный</a></li>
          <li><a>Чесночный</a></li>
          <li><a>Чесночный</a></li>
        </ul>
      </div>
      <div class="spacer"></div>
      <button class="rounded-button ok-btn">Ок</button>
    </div>
  </div>
  <div class="product-quantity-container">
    <label>Количество</label>
    <button class="minus-btn disabled">-</button>
    <input type="text" class="quantity" value="1">
    <button class="plus-btn">+</button>
  </div>
  <div class="product-controls">
    <div class="total-price">от <strong>560</strong>&nbsp;&#8381;/кг</div>
    <button class="rounded-button choose-btn" (click)="choose()">Выбрать</button>
    <button class="rounded-button add-to-cart-btn">В корзину</button>
  </div>
</div>
