<div class="nav-panel">
  <a (click)="deactivate()"><span class="back-btn fa fa-angle-left"></span>Назад</a>
</div>
<figure>
  <img [src]="product.getImageSrc()" alt="">
</figure>
<div class="product-info">
  <h3>{{ product.getTitle() }}</h3>
  <div class="product-description">
    <p>{{ product.getDescription() }}</p>
  </div>
  <ul class="product-options" *ngIf="product.getOptions() as options">
    <li *ngFor="let option of options">
      <strong>{{ option.title }}:</strong>
      <a (click)="openOptions(option)">{{ getOptionValue(option)?.title || 'Не выбрано' }}</a>
    </li>
  </ul>
  <div class="option-overlay" *ngIf="activeOption">
    <div class="option-wrapper">
      <h3>{{ activeOption.title }}</h3>
      <div class="values-wrapper">
        <ul>
          <li *ngIf="!activeOption.required" [class.active]="activeOption.value === null">
            <a (click)="activeOption.value = null">Не выбрано</a>
          </li>
          <li *ngFor="let value of activeOption.values; index as i"
              [class.active]="activeOption.value === i">
            <a (click)="activeOption.value = i">{{ value.title }}</a>
          </li>
        </ul>
      </div>
      <button class="rounded-button ok-btn" (click)="closeOptions()">Ок</button>
    </div>
  </div>
  <div class="product-quantity-container">
    <label>Количество</label>
    <button class="minus-btn" (click)="product.decreaseQuantity()" [disabled]="product.isMinQuantity()">-</button>
    <input type="text" class="quantity" [value]="product.formatQuantity()" readonly>
    <button class="plus-btn" (click)="product.increaseQuantity()" [disabled]="product.isMaxQuantity()">+</button>
  </div>
  <div class="product-controls">
    <div class="total-price">
      <p class="price-range">от <strong>{{ product.getMinPrice() }}</strong>&nbsp;&#8381;/кг</p>
      <p class="price-current"><strong>{{ product.getPrice() }}</strong>&nbsp;&#8381;/кг</p>
    </div>
    <button class="rounded-button choose-btn" (click)="activate()">Выбрать</button>
    <button class="rounded-button add-to-cart-btn" (click)="addToCart(product)">В корзину</button>
  </div>
</div>
