@import "../../../styles/variables";

.product {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  border-top: 2px solid $light;
  min-height: 136px;
  background: $white;

  &:last-child {
    border-bottom: 2px solid $light;
  }

  .nav-panel {
    display: none;
  }

  .rounded-button {
    padding: 2*$basis 4*$basis;
    background: $altAccent;
    color: $white;
    border-radius: 4*$basis;
  }

  figure {
    margin-right: 4*$basis;

    img {
      display: block;
      width: 125px;
      height: 100%;
      object-fit: cover;
    }
  }

  .product-info {
    padding: 3*$basis 4*$basis 3*$basis 0;
    flex-grow: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: stretch;

    h3 {
      margin-bottom: 2*$basis;
      text-align: left;
    }

    .product-description {
      flex-grow: 1;
      font-size: 12px;
      line-height: 14px;
      margin-bottom: 3*$basis;
      color: lighten($dark, 2);
    }

    .options-wrapper {
      display: none;

      .simple-options-wrapper {
        min-height: 162px;
        margin-bottom: 3*$basis;
      }

      .exclusive-options-wrapper {
        display: flex;
        flex-flow: row nowrap;
        margin-bottom: 4*$basis;
      }

      .radio-option {
        margin-bottom: 2*$basis;

        h4 {
          text-align: center;
          margin-bottom: 2*$basis;
        }
      }

      .radio-switch {
        border: 1px solid #888888;
        border-radius: 50px;
        padding: $basis;
        display: flex;
        flex-flow: row nowrap;
        background: linear-gradient(0deg, #ececec, transparent);

        li {
          font-size: 12px;
          line-height: 14px;
          cursor: pointer;
          flex-grow: 1;
          min-height: 2*14px + 2*$basis;
          display: flex;
          flex-flow: column;
          justify-content: center;
          text-align: center;
          border-right: 1px solid #888888;

          &:last-child {
            border-right: none;
          }

          > a {
            display: block;
            padding: $basis;
          }

          &.active > a {
            color: $accent;
            font-weight: bold;
          }
        }
      }

      .exclusive-option {
        flex-basis: 40%;
        flex-grow: 1;

        &:last-child {
          text-align: right;
        }

        &:only-child {
          text-align: center;
        }

        h4 {
          margin-bottom: $basis;
        }

        a {
          font-size: 12px;
          color: $accent;
          text-decoration: underline;
          cursor: pointer;
        }
      }

      .separator-or {
        position: relative;
        margin: 0 3*$basis;

        &:before {
          content: "";
          display: block;
          position: absolute;
          left: calc(50% - 1px);
          top: 0;
          width: 0;

          height: 38px;
          border-right: 1px solid $dark;
        }

        p {
          position: relative;
          text-align: center;
          font-size: 12px;
          line-height: 14px;
          margin: 12px 0;
          background: white;
          z-index: 1;
        }
      }
    }

    .product-options {
      display: none;
      margin: 0 0 3*$basis;
      line-height: 22px;
      user-select: none;

      li {
        strong {
          display: inline-block;
          min-width: 110px;
        }

        a {
          color: $accent;
          border-bottom: 1px dashed $accent;
          cursor: pointer;
        }
      }
    }

    .product-quantity-container {
      justify-content: center;
    }

    .product-controls {
      display: flex;
      flex-flow: row nowrap;
      align-items: baseline;
      justify-content: stretch;

      .total-cost {
        flex-grow: 1;

        p.total-cost {
          display: none;
        }
      }

      .choose-btn {
        display: block;
      }

      .add-to-cart-btn {
        display: none;
        background: $altAccent;
      }
    }
  }

  @media (min-width: $small) {
    margin: $basis;
    padding: 3*$basis 4*$basis;
    width: calc(50% - #{2*$basis});
    border: 1px solid $light;
    border-radius: $basis;
    flex-flow: column nowrap;

    &:last-child {
      border-bottom: 1px solid $light;
    }

    figure {
      margin: -3*$basis -4*$basis 3*$basis;

      img {
        display: block;
        width: 100%;
        height: 240px;
        object-fit: cover;
      }
    }

    .product-info {
      padding: 0;

      h3 {
        text-align: center;
      }

      .product-description {
        text-align: center;
      }

      .options-wrapper {
        display: block;
      }

      .product-options {
        display: block;
      }

      .product-quantity-container {
        display: flex;
      }

      .product-controls {
        .total-cost {
          p.price-range {
            display: none;
          }

          p.total-cost {
            display: block;
          }
        }

        .choose-btn {
          display: none;
        }

        .add-to-cart-btn {
          display: block;
        }
      }
    }
  }

  @media (min-width: $medium) {
    width: calc(33.33% - #{2*$basis});
  }
}

.product.active {
  @media (max-width: $small - 1px) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $white;
    z-index: $zModal;
    flex-flow: column nowrap;
    padding: 3*$basis 4*$basis;
    overflow-y: scroll;

    &:last-child {
      border-bottom: 0;
    }

    .nav-panel {
      display: block;
      background: $light;
      margin: -3*$basis -4*$basis 0;
      padding: 3*$basis 4*$basis;

      .back-btn {
        font-size: 24px;
        line-height: 16px;
        color: $altNeutral;
        vertical-align: -2px;
        margin-right: 3*$basis;
      }
    }

    figure {
      margin: 0 -4*$basis 3*$basis;

      img {
        display: block;
        width: 100%;
        height: 300px;
        object-fit: cover;
      }
    }

    .product-info {
      padding: 0;

      h3 {
        text-align: center;
      }

      .product-description {
        text-align: center;
      }

      .options-wrapper {
        display: block;
      }

      .product-options {
        flex-grow: 1;
        display: block;
      }

      .product-quantity-container {
        display: flex;
      }

      .product-controls {
        .total-cost {
          p.price-range {
            display: none;
          }

          p.total-cost {
            display: block;
          }
        }

        .choose-btn {
          display: none;
        }

        .add-to-cart-btn {
          display: block;
        }
      }
    }
  }
}

.option-overlay {
  display: none;
}

.product.active .option-overlay {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 5*$basis 4*$basis 8*$basis;
  background: rgba(0, 0, 0, 0.1);
  border-radius: $basis;
  z-index: 2;

  .option-wrapper {
    display: flex;
    flex-flow: column nowrap;;
    padding: 3*$basis 4*$basis;
    background: $white;
    border-radius: $basis;
    box-shadow: $shadow;

    .values-wrapper {
      overflow-y: auto;
      max-height: 320px;
      margin: 4*$basis 0 6*$basis;

      ul {
        li {
          cursor: pointer;
          border-bottom: 1px solid $light;
          transition: .05s;

          &:last-child {
            border-bottom: none;
          }

          &:hover {
            background: $light;
          }

          a {
            display: block;
            padding: 3*$basis 4*$basis;
            transition: .05s;
          }

          &.active {
            a {
              font-weight: bold;
              color: $accent;
            }
          }
        }
      }
    }
  }
}
