<div class="container">
  <div class="wrapper header-wrapper">
    <button class="header-nav-btn fa fa-bars" (click)="toggleNavActive()"></button>
    <a routerLink="/order" class="cart-link fa fa-shopping-cart">
      <span>Корзина ({{ cart.getItemsCount() }})</span>
    </a>
    <div class="logo">
      <a routerLink="/">Milov<span>eat.ru</span></a>
    </div>
    <ul class="header-nav" [class.active]="isNavActive">
      <li class="active"><a href="#c1">Свинина</a></li>
      <li><a href="#c2">Говядина</a></li>
      <li><a href="#c3">Баранина</a></li>
      <li><a href="#c4">Курица</a></li>
    </ul>
  </div>
</div>
