@import "../../styles/variables";

.main-header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: $zHeader;
  background: $light;

  .header-wrapper {
    .logo {
      text-align: center;

      a {
        font: bolder 24px $slabFont;
        color: $dark;

        &:hover {
          color: $dark;
        }

        span {
          color: $accent;
        }
      }
    }

    .header-nav-btn,
    .cart-link {
      padding: $basis;
      font-size: 24px;
      line-height: 24px;
    }

    .header-nav-btn {
      float: left;
    }

    .cart-link {
      float: right;
      color: $accent;

      span {
        margin-left: 2*$basis;
        display: none;
        font: 14px/18px $defaultFont;
      }
    }

    .header-nav {
      display: none;
      position: fixed;
      top: $hHeader - 2px; // Slightly overlap to prevent gape
      left: 0;
      width: 100%;
      padding: 3*$basis 4*$basis;
      z-index: $zHeader;
      background: $light;

      li {
        text-align: center;

        a {
          text-align: center;
          display: inline-block;
          padding: 2*$basis 4*$basis;
          cursor: pointer;
        }

        &.active {
          a {
            color: $accent;
            border-bottom: 2px solid $accent;
          }
        }
      }

      &.active {
        display: block;
      }
    }

    @media (min-width: $medium) {
      display: flex;
      flex-flow: row nowrap;
      align-items: baseline;

      .logo {
        margin-right: 80px;
      }

      .header-nav-btn {
        display: none;
      }

      .header-nav {
        display: flex;
        flex-flow: row nowrap;
        position: relative;
        top: 0;
        left: 0;
        width: auto;
        padding: 0;

        &.active {
          display: flex;
        }
      }

      .cart-link {
        float: none;
        order: 3;
        margin-left: auto;

        span {
          display: inline-block;
        }
      }
    }
  }
}
