<div class="container">
  <div class="wrapper content-wrapper">
    <div class="main-column">
      <!-- Product list -->
      <div class="product-list-wrapper"
           *ngIf="state.getCurrentCategory() | async as category"
           [@fade]="category.id">
        <div class="product-list-header">
          <h1>{{ category.data.title }}</h1>
        </div>
        <ul class="product-list" *ngIf="products$ | async as products">
          <li class="product" app-product *ngFor="let product of products" [product]="product"></li>
        </ul>
      </div>
      <!-- /Product list -->
    </div>

    <aside class="side-column">
      <!-- Fixed cart -->
      <div class="fixed-cart" app-cart></div>
      <!-- /Fixed cart -->
    </aside>
  </div>
</div>
