@import "../../styles/variables";

.product-list-wrapper {
  margin: 0 -4*$basis;

  .product-list-header {
    padding: 3*$basis 5*$basis;

    h1 {
      text-align: left;
    }
  }

  @media (min-width: $small) {
    margin: 0 -$basis;
    .product-list-header {
      padding: 3*$basis 0;

      h1 {
        font-size: 22px;
        text-align: center;
      }
    }
  }

  @media (min-width: $large) {
    .product-list-header {
      padding: 3*$basis 2*$basis;

      h1 {
        text-align: left;
      }
    }
  }
}

.product-list {
  margin: 0 0 8*$basis;
  display: flex;
  flex-flow: column nowrap;

  @media (min-width: $small) {
    flex-flow: row wrap;
  }
}
