<div class="container">
  <div class="wrapper content-wrapper">
    <div class="main-column">
      <!-- Product list -->
      <div class="product-list-wrapper"
           *ngIf="state.getCurrentCategory() | async as category"
           [@fade]="category.id">
        <div class="product-list-header">
          <h1>{{ category.data.title }}</h1>
        </div>
        <ul class="product-list" *ngIf="products$ | async as products">
          <li class="product" *ngFor="let product of products">
            <figure>
              <img src="../../assets/mock/1.jpg" alt="">
            </figure>
            <div class="product-info">
              <h3>{{ product.data.title }}</h3>
              <div class="product-description">
                <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci aliquam
                    debitis delectus dolores.</span>
                </p>
              </div>
              <ul class="product-options">
                <li>
                  <strong>Нарезка:</strong> <a>Куски</a>
                </li>
                <li>
                  <strong>Размер куска:</strong> <a>Средний</a>
                </li>
                <li>
                  <strong>Маринад:</strong> <a>Чесночный</a>
                </li>
                <li>
                  <strong>Специи:</strong> <a>Смесь перцев</a>
                </li>
              </ul>
              <div class="product-quantity-container">
                <label>Количество</label>
                <button class="minus-btn disabled">-</button>
                <input type="text" class="quantity" value="1">
                <button class="plus-btn">+</button>
              </div>
              <div class="product-controls">
                <div class="total-price">от <strong>560</strong>&nbsp;&#8381;/кг</div>
                <button class="rounded-button choose-btn">Выбрать</button>
                <button class="rounded-button add-to-cart-btn">В корзину</button>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <!-- /Product list -->
    </div>

    <aside class="side-column">
      <!-- Fixed cart -->
      <div class="fixed-cart"></div>
      <!-- /Fixed cart -->
    </aside>
  </div>
</div>
