@import "../../../styles/variables";

.fixed-cart {
  position: fixed;
  right: 0;
  bottom: 12*$basis;
  padding: 3*$basis 4*$basis;
  background: $ultraAccent;
  color: $dark;
  font: 14px/16px $defaultFont;
  box-shadow: $shadow;

  .fa-shopping-cart {
    display: inline-block;
    margin-right: 2* $basis;
    color: $white
  }

  .total-price {
    color: $white;
  }

  .details {
    display: none;

    .details-header {
      margin: -3*$basis -4*$basis 4*$basis -4*$basis;
      padding: 3*$basis 4*$basis;
      background: $light;
      text-align: center;
      position: relative;
      cursor: pointer;
      user-select: none;

      .open-close-btn {
        position: absolute;
        right: 3*$basis;
        top: $basis;
        padding: $basis;
        width: 8*$basis;
        height: 8*$basis;
        font-size: 24px;
        color: $altNeutral;
      }
    }

    ul {
      margin-bottom: 2*$basis;

      li {
        position: relative;
        padding: 2*$basis 0;
        display: flex;
        flex-flow: row nowrap;
        border-bottom: 1px solid $light;

        .remove-btn {
          position: absolute;
          right: 0;
          top: 0;
          padding: $basis;
          width: 6*$basis;
          height: 6*$basis;
          font-size: 24px;
          color: $altNeutral;
        }

        img {
          width: 60px;
          height: 60px;
          margin-right: 2*$basis;
          object-fit: cover;
        }

        .cart-item-info {
          flex-grow: 1;

          h4 {
            padding: 0 0 $basis;
            font-size: 13px;
          }

          .description {
            display: flex;
            flex-flow: row nowrap;
            align-items: flex-end;
            padding-right: 2*$basis;

            p {
              flex-grow: 1;
              font-size: 11px;
              line-height: 13px;
            }
          }
        }
      }
    }

    .summary {
      padding: 2*$basis;
      margin-bottom: 2*$basis;
      display: flex;
      flex-flow: row nowrap;
      justify-content: stretch;

      span {
        flex-grow: 1;
      }

      strong {
        font-size: 16px;
      }
    }

    .cart-link {
      display: block;
      padding: 2*$basis;
      background: $ultraAccent;
      color: $white;
      text-align: center;
      margin-bottom: 2*$basis;
      border-radius: 4*$basis;
    }
  }

  .empty-cart {
    text-align: center;
  }

  @media (min-width: $large) {
    margin-top: 48px;
    position: sticky;
    top: 63px + 3*$basis + 48px; // Header height + margins
    background: $white;
    border-bottom: 4px solid $light;

    .details {
      display: block;
    }

    .fa-shopping-cart,
    .total-price {
      display: none;
    }
  }
}
