<div class="details">
  <h3 class="details-header" (click)="toggleCartView()">Корзина
    <ng-container *ngIf="!isOpen">({{ cart.getItemsCount() }})</ng-container>
    <span class="open-close-btn fa"
          [ngClass]="{'fa-angle-up': isOpen, 'fa-angle-down': !isOpen}">
    </span>
  </h3>
  <ng-container *ngIf="cart.getItemsCount(); else emptyCart">
    <ul *ngIf="isOpen">
      <li *ngFor="let item of cart.getItems(); index as i">
        <button class="remove-btn" (click)="cart.removeItem(i)">&times;</button>
        <img [src]="item.getImageSrc()" alt="">
        <div class="cart-item-info">
          <h4>{{ item.getTitle() }}</h4>
          <div class="description">
            <p>
              <ng-container *ngFor="let option of item.getOptions()">
                <ng-container *ngIf="getOptionValue(option) as value">
                  {{ option.title }}: {{ value?.title || 'Не выбрано' }}<br>
                </ng-container>
              </ng-container>
            </p>
            <div class="item-price">480 &#8381;</div>
          </div>
        </div>
      </li>
    </ul>
    <div class="summary">
      <span>Сумма заказа:</span> <strong>2580 &#8381;</strong>
    </div>
    <a routerLink="/order" class="cart-link">Оформить</a>
  </ng-container>
  <ng-template #emptyCart>
    <div class="empty-cart">
      <p>Нет товаров</p>
    </div>
  </ng-template>
</div>
<span class="fa fa-shopping-cart"></span>
<span class="total-price">2580 &#8381;</span>
