<div class="details">
  <h3 class="details-header" (click)="toggleCartView()">Корзина
    <ng-container *ngIf="!isOpen && cart.getItemsCount()">({{ cart.getItemsCount() }})</ng-container>
    <span class="open-close-btn fa" *ngIf="cart.getItemsCount()"
          [ngClass]="{'fa-angle-up': isOpen, 'fa-angle-down': !isOpen}">
    </span>
  </h3>
  <ng-container *ngIf="cart.getItemsCount(); else emptyCart">
    <app-cart-list *ngIf="isOpen" class="cart-list"></app-cart-list>
    <a routerLink="/order" class="cart-link">Оформить</a>
  </ng-container>
  <ng-template #emptyCart>
    <div class="empty-cart">
      <p>Нет товаров</p>
    </div>
  </ng-template>
</div>
<span class="fa fa-shopping-cart"></span>
<span class="total-cost">{{ cart.getItemsCost() | number }} &#8381;</span>
