@import "../../../styles/variables";

.fixed-cart {
  position: fixed;
  right: 0;
  bottom: 12*$basis;
  padding: 3*$basis 4*$basis;
  z-index: $zCart;
  background: $ultraAccent;
  color: $dark;
  font: 14px/16px $defaultFont;
  box-shadow: $shadow;

  .fa-shopping-cart {
    display: inline-block;
    margin-right: 2* $basis;
    color: $white
  }

  .total-cost {
    color: $white;
  }

  .details {
    display: none;

    .details-header {
      margin: -3*$basis -4*$basis 4*$basis -4*$basis;
      padding: 3*$basis 4*$basis;
      background: $light;
      text-align: center;
      position: relative;
      cursor: pointer;
      user-select: none;

      .open-close-btn {
        position: absolute;
        right: 3*$basis;
        top: $basis;
        padding: $basis;
        width: 8*$basis;
        height: 8*$basis;
        font-size: 24px;
        color: $altNeutral;
      }
    }

    .cart-link {
      display: block;
      padding: 2*$basis;
      background: $ultraAccent;
      color: $white;
      text-align: center;
      margin-bottom: 2*$basis;
      border-radius: 4*$basis;
    }
  }

  .empty-cart {
    text-align: center;
  }

  @media (min-width: $large) {
    margin-top: 48px;
    position: sticky;
    top: 63px + 3*$basis + 48px; // Header height + margins
    background: $white;
    border-bottom: 4px solid $light;

    .details {
      display: block;
    }

    .fa-shopping-cart,
    .total-cost {
      display: none;
    }
  }
}
