$defaultFont: 'Roboto', sans-serif;
$slabFont: 'Roboto Slab', serif;
$containerWidth: 1400px;
$basis: 4px;
$white: #fff;
$light: #efefef;
$dark: #3b3b3b;
$accent: #c21313; // #c04646;
$ultraAccent: #f73b3b;
$altAccent: #f79a3b; // #6f9290;
$neutral: rgb(105, 199, 66, 0.4); // #69c7423b;  //#a9b3b9;
$altNeutral: #bbbbbb;
$zHeader: 100;
$hHeader: 56px;
$shadow: 3px 5px 8px rgb(0, 0, 0, 0.3);
// breakpoints
$small: 600px;
$medium: 900px;
$large: 1200px;
