/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab:wght@400;600&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

@import "styles/variables";
@import "styles/header";
@import "styles/footer";
@import "styles/fixed-cart";
@import "styles/catalog";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: $white url("assets/bg.jpg") 50% 0 no-repeat;
  background-size: cover;
  font: 14px $defaultFont;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $dark;
  font-family: $slabFont;
}

h1 {
  font-size: 18px;
  line-height: 24px;
}

a {
  text-decoration: none;
  color: $dark;
  outline: none;

  &:hover {
    color: $accent;
    transition: .3s;
  }
}

button {
  border: none;
  outline: none;
  background: none;
  font-size: 14px;
  line-height: 16px;
}

input {
  outline: none;
}

ul {
  list-style: none;
}

.theme-root {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  min-height: 100vh;
}

.container {
  max-width: $containerWidth;

  @media (min-width: $medium) {
    margin: 0 auto;
  }
}

.wrapper {
  padding: 3*$basis 4*$basis;
  position: relative;
}

.main-content {
  flex-grow: 1;
}

.content-wrapper {
  @media (min-width: $large) {
    display: flex;
    flex-flow: row nowrap;

    .main-column {
      flex-grow: 1;
    }

    .side-column {
      display: block;
      width: 320px;
      margin-left: 6*$basis;
      flex-shrink: 0;

    }
  }
}
