<div class="order-form">
  <h1>Данные для заказа:</h1>

  <form [formGroup]="cart.orderForm.form" (ngSubmit)="submit()">
    <div class="form-group">
      <h3>Контактная информация:</h3>
      <div class="form-row">
        <mat-form-field appearance="outline">
          <mat-label>Имя</mat-label>
          <input matInput placeholder="Имя" [formControlName]="'name'" required>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Телефон</mat-label>
          <input matInput placeholder="Телефон" formControlName="phone"
                 mask="(000) 000-00-00" prefix="+7 " [showMaskTyped]="true" required>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email" [formControlName]="'email'" required>
          <mat-hint>Нужен для того, чтобы выслать Вам копию заказа</mat-hint>
        </mat-form-field>
      </div>
    </div>

    <ng-container formGroupName="address">
      <div class="form-group">
        <h3>Выберите регион:</h3>
        <div class="form-row">
          <mat-radio-group aria-label="Регион" formControlName="region">
            <mat-radio-button *ngFor="let region of cart.orderForm.regions"
                              [value]="region">{{ region }}</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>

      <div class="form-group">
        <h3>Адрес доставки:</h3>
        <div class="form-row">
          <mat-form-field *ngIf="cart.orderForm.form.get('address').get('region').value === cart.orderForm.regions[1]">
            <input type="text" placeholder="Район" matInput
                   formControlName="district" [matAutocomplete]="auto" required>
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let district of cart.orderForm.districts" [value]="district">
                {{ district }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Улица</mat-label>
            <input matInput placeholder="Улица" formControlName="street" required>
          </mat-form-field>
        </div>
        <div class="form-row">
          <mat-form-field appearance="outline">
            <mat-label>Дом</mat-label>
            <input matInput placeholder="Дом" formControlName="house" required>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Квартира</mat-label>
            <input matInput placeholder="Квартира" formControlName="flat" required>
          </mat-form-field>
        </div>
      </div>
    </ng-container>

    <div class="form-group">
      <h3>Время доставки:</h3>
      <div class="form-row" formGroupName="delivery">
        <mat-radio-group formControlName="day">
          <mat-radio-button *ngFor="let day of cart.orderForm.dayVariants" [value]="day">{{ day }}</mat-radio-button>
        </mat-radio-group>
        <mat-form-field style="flex-grow: 0">
          <mat-label>Время</mat-label>
          <mat-select formControlName="time">
            <mat-option *ngFor="let time of cart.orderForm.timeVariants" [value]="time">
              {{ time }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="form-group">
        <h3>Способ оплаты:</h3>
        <div class="form-row">
          <mat-radio-group formControlName="paymentMethod">
            <mat-radio-button *ngFor="let method of cart.orderForm.paymentMethods"
                              [value]="method">{{ method }}</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <div class="form-group">
        <div class="form-row">
          <mat-checkbox formControlName="contactlessDelivery">Бесконтактная доставка</mat-checkbox>
        </div>
        <div class="form-row">
          <mat-checkbox formControlName="pdpa" required>
            Даю согласие на
            <a [routerLink]="['/p', 'pdpa']" target="_blank">обработку персональных данных</a>
          </mat-checkbox>
        </div>
      </div>
      <div class="form-group">
        <button type="submit" class="order-now" [disabled]="cart.orderForm.form.invalid">Оформить заказ</button>
      </div>
    </div>
  </form>
</div>
